<head> 
	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">
</head>

<head> 
	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">
    <link href="css/addPets.css" rel="stylesheet" type="text/css">
    <link href="css/grown.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="content">
        <h2>Pet Book</h2>
            {{#each pets}}
			{{#if bought}}
            <div class="product">
                <div class="image">
                    <img src="{{picture}}"/>
                </div>
                <div class="name">
                    <h3>{{name}}</h3>
                </div>
                <div class="price">
                    {{price}}
                </div>
                <button class="buy btn btn-primary" data-toggle="modal" data-target="#{{id}}">Add to Home</button>
                <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{name}}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{name}}</h4>
                      </div>
                      <div class="modal-body">
                        <img class="modalPicture" src="{{picture}}">
                        <div class="modalDescription" id="description{{name}}">
                            {{description}}
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="/selectArea"><button type="button" class="btn btn-primary">Add to Home</button></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
			{{/if}}
            {{/each}}
        </div>
	
	
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
</body>