<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/shop.css">
	</head>
	<body>
		<h2>Shop</h2>
		<h3>Cookies: <span id="numcookies">1000</span></h3>
		<div class="content">
			{{#each pets}}
			<div class="product">
				<div class="image">
					<img src="{{picture}}"/>
				</div>
				<div class="name">
					{{name}}
				</div>
				<div class="price">
					{{price}}
				</div>
				<button class="buy" data-toggle="modal" data-target="#{{id}}">Buy</button>
				<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{name}}">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">{{name}}</h4>
				      </div>
				      <div class="modal-body">
				      	<img class="modalPicture" src="{{picture}}">
				      	<div class="modalDescription" id="description{{name}}">
				      		{{description}}
				      	</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" id="pet{{name}}" class="btn btn-primary" onclick="buy('{{name}}', '{{price}}')">Buy</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
			{{/each}}
		</div>
		<script src="js/shop.js"></script>
	</body>
</html>